/* style.css */
#calculatorForm {
    height: 1500px;
    width: 350px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#calculatorForm div {
    margin-bottom: 10px;
}

#totals p {
    margin: 5px 0;
}
